name: Lint and test

on:
  push:
    branches:
      - main

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install dependencies 
        run: |
          pip install poetry
          poetry install
      - name: Check style
        run: poetry run pylint src
      - name: Run tests
        run: poetry run pytest